<div id="watchCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/assets/imgs/w1.jpg" class="d-block w-100" alt="Watch Image 1">
    </div>
    <div class="carousel-item">
      <img src="/assets/imgs/w2.jpg" class="d-block w-100" alt="Watch Image 2">
    </div>
    <div class="carousel-item">
      <img src="/assets/imgs/w3.jpg" class="d-block w-100" alt="Watch Image 3">
    </div>
  </div>
  <button class="carousel-control-prev left" type="button" data-bs-target="#watchCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next right" type="button" data-bs-target="#watchCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!-- Static Component -->
<div class="container mt-4">
  <div class="row text-center">
    <div class="col-md-4">
      <div class="feature-icon">
        <img src="/assets/imgs/icon1.png" alt="Free Shipping Icon">
      </div>
      <h4>FREE SHIPPING</h4>
      <p>Free Shipping on all orders! We believe pricing should be simple and transparent, so no additional surprising shipping fees added at the end!</p>
    </div>
    <div class="col-md-4">
      <div class="feature-icon">
        <img src="/assets/imgs/icon2.png" alt="Customer Service Icon">
      </div>
      <h4>EXCELLENT CUSTOMER SERVICE</h4>
      <p>Guaranteed lowest prices in Canada without any compromise on customer service. We pride ourselves in our before and after-sales service.</p>
    </div>
    <div class="col-md-4">
      <div class="feature-icon">
        <img src="/assets/imgs/icon3.png" alt="Lowest Prices Icon">
      </div>
      <h4>LOWEST PRICES</h4>
      <p>Huge savings of up to 80% off retail prices on brand new and authentic watches. Our prices are probably the lowest you will find in Canada.</p>
    </div>
  </div>
</div>
